name: Build & Deploy Spring Boot to Windows Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build JAR
        run: mvn clean package -DskipTests
        shell: cmd

      - name: Run PowerShell Deploy Script
        run: |
          powershell.exe -ExecutionPolicy Bypass -File C:\Users\CCS\deploy\deploy.ps1
