name: Build & Deploy Spring Boot to Windows Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build JAR
        run: mvn clean package -DskipTests
        shell: cmd

      - name: Copy JAR to Deploy Folder
        run: |
          if not exist "C:\Users\CCS\deploy" mkdir "C:\Users\CCS\deploy"
          copy /Y "%CD%\target\cicd-0.0.1-SNAPSHOT.jar" "C:\Users\CCS\deploy\cicd.jar"
        shell: cmd

      - name: Run Deployment Script
        run: C:\Users\CCS\deploy\deploy.cmd
        shell: cmd
